body {
  background: black;
  background-image: url("../public/04880001.JPG");
  height:100vh;
  max-width: 100%;
  display:flex;
}

.topnav {
  flex: auto;
}

.topnav a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.4rem;
}

.topnav a:hover {
  color: green
}