body {
  background: black;
  background-image: url("../public/04880001.JPG");
  background-size: cover;
  height:100vh;
  /* max-width: 100%;   */
  background-repeat: no-repeat;
  background-position: center; 
  /* display:flex; */
  animation: fadeInAnimation ease 4s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

.topnav {
  /* flex: auto;  
  display: flex;
  justify-content: flex-end; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav a {
  /* display: flex; */
  display: block;
  float: right;
  /* flex: auto; */
  color: #f2f2f2;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.4rem;
}

.topnav a:hover {
  color: rgba(88, 238, 200, 0.623)
}

#logo {
  float: left;
  /* color:rgba(223, 252, 245, 0.925) */
  color:rgb(220, 230, 229)
}

footer {
  color: white;
  position: absolute;
  bottom:0;
  right: 0;
}